/* Write your CSS here! */
img {
    max-width: 50%;
    height: auto;
    padding: 10px;
  }

body {
    display: block;
    margin: 8px;
    text-align: center;
}

#mainHeading {
    color: red;
}

#testP {
    color: green;
}